@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background: url(../Media/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header img {
    max-height: 10vh;
}

main {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
    max-width: 60vw;
    min-height: 90vh;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;

}

main#reg {
    text-align: left;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-left: 20vw;
}

.button {
    text-decoration: blink;
    border: none;
    font-size: .5rem;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
    margin: 5px 10px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;

    background: #2f46ad;
    color: #fff;
    box-shadow: 0 6px #171d6b;

    border-radius: 0 0 5px 5px;
}

.button:hover {
    box-shadow: 0 4px #171d6b;
    top: 2px;
}

.button:active {
    box-shadow: 0 0 #171d6b;
    top: 6px;
}

ul {
    width: 70%;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.overflow {
    overflow-x: auto;
}