p {
    display: inline-block;
    width:30%;
}

input {
    width:25%;
    display: inline-block;
}

select {
    width:25%;
    display: inline-block;
}
body {
    background-color: #7FFFD4;
    font-family: Georgia, serif;
    font-size: 16px;
}

header {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:white;
    margin-bottom:8px;
}

footer {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:white;
    margin-top:8px;
}

#background {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:white;
}

html, body {
    min-height: 100%;
}
