form {
 float: left; 
}

input[type=submit] {
  width: 10em;  height: 2em;
  border-radius:8px;
  color:white;
}

input.create {
  background-color: black;
  border-color: black;
}
input.login {
  background-color: black;
  border-color: black;
}

#loginForm {
  width:50%;
}
#createForm {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}


