html, body {
    width: 100%;
    color:black;
    background-color:#7FFFD4;
}

#background {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color:white;
}

footer {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color:white;
    margin-top:8px;
}


#logout {
    margin-left:95%;
}

header {
    height:10vh;
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color:white;
}

img {
    width:170px;
    height:170px;
}

#submit_button_id {
    display:none;
}

h2 {
    display:inline;
}

#editImage {
    height:20px;
    width:20px;
    margin-left:5%;
}

